Source: python-aficio2060
Section: python
Priority: extra
Maintainer: Felix Maurer <felix.maurer@gmx.net>
Uploaders: Felix Maurer <felix.maurer@gmx.net>
Build-Depends: debhelper (>= 7), python-support (>= 0.5.3)
Standards-Version: 3.9.1

Package: python-aficio2060
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-suds
Provides: ${python:Provides}
Description: Provides Python wrappers around RICOH Aficio 2060 functions
 The Python modules in this package provide access to various network features
 and file formats provided and used by the RICOH Aficio 2060 printer.
 .
   accounts - Account management

Package: aficio2060-tools
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-aficio2060,
 python-reportlab, ttf-bitstream-vera, python-unidecode
Conflicts: aficio1075-tools
Description: Provides command-line tools to manage RICOH Aficio 2060 printers
 The tools included in this package allow the management and analysis of
 some aspects of the RICOH Aficio 2060 printers.
 .
 Currently, the following tools are included:
   af-accounts - Account management
   af-print-accounts - Create a PDF containing all accounts
   af-sync-accounts - Sync Unix users with the account list
   af-sync-ppds - Update PPDs with the list of valid printer user codes
